<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Astronomy Picture of the Day App Test Suite">
            <directory>test</directory>
        </testsuite>
        <filter>
            <blacklist>
                <directory>vendor</directory>
                <directory>test</directory>
            </blacklist>
        </filter>
    </testsuites>
</phpunit>

